/* ==========================================================================
   bitches!
   ========================================================================== */

$palegreen: #8DCCC1;

#navbarjpg{
  height:65px;
  width:1440px;
  background-image:url(../img/nav.jpg);
  position: fixed;
  z-index: 55;
  background-size:100%;
  top:0;
  left:0;

}

#content{
  margin-top:53px;
  position: relative;
}

body{
  margin:0;
  background-color:#000;
  background-color:#fff;
}

#vids{
  -webkit-transition:left 500ms ease-out ;
}

#toggle{
  width:100%;
  margin:0;
  padding:0;
  height:59px;
  border-bottom:10px solid $palegreen;

  li{
    width:33.33%;
    float:left;
    background-color:#000;
    text-transform: uppercase;
    display: inline;
    text-align: center;
    transition: all 100ms linear ;
    -moz-transition:all 100ms linear ;
    -webkit-transition:all 100ms linear ;
    -o-transition:all 100ms linear ;
    &.selected{
      color:$palegreen;
      background-color:#272727;
      a{
        color:$palegreen;
      }
      position: relative;
      .green-arrow{
        width:10px;
        height:10px;
        background-color:$palegreen;
        bottom:-5px;
        position: absolute;
        left:49%;
        -webkit-transform:rotate(45deg);
      }
    }

    &:hover{
      background-color:#272727;
      a{
        color:white;
      }
    }

    a{
      font-weight: bold;
      color:#ddd;
      height:59px;
      width:100%;
      text-decoration: none;
      transition: all 100ms linear ;
      -moz-transition:all 100ms linear ;
      -webkit-transition:all 100ms linear ;
      -o-transition:all 100ms linear ;
      text-align: center;
      line-height: 59px;
      font-size:14px;

      &:hover{
        color:$palegreen;
      }
    }
  }
}

.section{
  position: absolute;
  top:0;
  left:0;

  a{
    opacity: 0;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 100ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: forwards;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    transition: all 100ms linear ;
    -moz-transition:all 100ms linear ;
    -webkit-transition:all 100ms linear ;
    -o-transition:all 100ms linear ;
    display: block;
    float:left;
    position: relative;
    &:hover{
      opacity: 0.6;
    }
    img{
      display: block;
      float:left;
    }
    .headshot{
      width:330px;
    }
  }
  .hover{
    color:white;
    padding-top:90px;
    line-height:30px;
    text-align: center;
    text-transform: uppercase;
    font-size:24px;
    font-family:times;
    opacity: 0;
    position: absolute;
    top:0;
    left:0;
    transition: all 100ms linear ;
    -moz-transition:all 100ms linear ;
    -webkit-transition:all 100ms linear ;
    -o-transition:all 100ms linear ;
  }
}

.section.animate-in{
  @for $i from 1 through 15 {
    a:nth-child(#{$i}){
      -webkit-animation-delay: $i * 30ms;
    }
  }
}

@-webkit-keyframes fadeIn /* Safari and Chrome */
{
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

.section.videos{
  a img{
    width:285px;
  }

  .hover{
    background-color:$palegreen;
    width:100%;
    height:100%;
  }
  a:hover{
    .hover{
      opacity: 1;
    }
  }
}
.section.products{
  display: none;
  a img{
    width:237px;
  }

  a:hover{
    opacity: 0.6;
  }
}
.section.team{
  display: none;
  a img{
    width:356px;
  }

  a:hover{
    opacity: 0.6;
  }
}

#topvids{
  width:100%;
  height:765px;
  #vids{
    width:5000px;
    top:0;
    left:0;
    position: absolute;
    height:765px
  }
  .vid-arrow{
    position: absolute;
    top:300px;
    height:100px;
    width:40px;
    left:0;
    background-color:#333;
    color:white;
    font-size:22px;
    padding-right:5px;
    font-family: verdana;
    text-align:center;
    line-height: 90px;
    text-decoration: none;

    &:hover{
      background-color:$palegreen;
    }
  }

  .vid-arrow.right{
    right:0;
    left:auto;
  }
}

#sections-wrapper{
  position: relative;
  width:100%;
  height:1000px;
}



