---
layout: 'default'
title: 'Cover Trailer'
viewid: '1'
---

#navbarjpg


#cover_trailer_fixed
  .video-wrapper
    %iframe{width: "425", height: "349", src: "http://www.youtube.com/embed/Af8Xrwf0ZEw?rel=0", frameborder: "0", allowfullscreen: "true"}
  .vid-title1

#content
  .video_trans_cover

  .article.clearfix
    %img{src:"img/copy1.jpg"}

  .video_trans_cover

  .article
    %img{src:"img/copy2.jpg"}


  .video_trans_cover

