---
layout: 'default'
title: 'Cover Trailer'
viewid: '2'
---

#nav_wrapper.slide-out
  %ul#menu

  #video_nav
    %ul
      %li
        %a(href="#")
          .video-thmb
      %li
        %a(href="#")
          .video-thmb
      %li
        %a(href="#")
          .video-thmb
      %li
        %a(href="#")
          .video-thmb
      %li
        %a(href="#")
          .video-thmb
      %li
        %a(href="#")
          .video-thmb
      %li
        %a(href="#")
          .video-thmb
      %li
        %a(href="#")
          .video-thmb
      %li
        %a(href="#")
          .video-thmb
      %li
        %a(href="#")
          .video-thmb

#cover_trailer
  .video-wrapper
    %iframe{width: "425", height: "349", src: "http://www.youtube.com/embed/Af8Xrwf0ZEw?rel=0", frameborder: "0", allowfullscreen: "true"}

#details_section
  .longform-section.section1

    .copy.leftcol

      %h1
        GIGI RUF

      %p
        Stats:
          %br
        Hometown: Bregenz, Austria
          %br
        Stance: Regular
          %br
        Age: 31
          %br
        Years Riding: 21
          %br
        Sponsors: Nike Snowboarding Boots & Outerwear, Slash, Union, Dragon, hOme watches
          %br
        Instagram: @gigiruf

      %p
        Bio:
        %br
        Snowboarding can easily seem gimmicky these days with high-priced coaches, perfectly orchestrated parks and ‘snowboarding moms’ waiting on the sidelines. Very few embrace the soul and rawness that ruled in the beginning. Gigi Rüf does. Gigi knows how to ride. He grasped snowboarding at an early age and forged his own path. His insane trick selection and unique style has been apparent since 'Destroyer' in 2000.  Many have tried to imitate his style and they are still trying.

      %img{src:"img/iamwhat.png"}

      %p
        When as he gazed into the watery glass
        And through his brown hair's curly tangles scanned
        His own wan face, a shadow seemed to pass
        Across the mirror, and a little hand
        Stole into his, and warm lips timidly
        Brushed his pale cheeks, and breathed their secret forth into a sigh.

      %p
        Then turned he round his weary eyes and saw,
        And ever nigher still their faces came,
        And nigher ever did their young mouths draw
        Until they seemed one perfect rose of flame,
        And longing arms around her neck he cast,
        And felt her throbbing bosom, and his breath came hot and fast,

      .learn-more

    .animated-col



  .widephotobg
    %img{src:"img/bkg.jpg", data-stellar-ratio:"1"}
    %img{src:"img/dude.png", data-stellar-ratio:"3"}
    %img{src:"img/nevernot.png", data-stellar-ratio:"2"}


  .longform-section.section2

    .copy.rightcol

      %h1
        %span.bigger
          nike zoom
        %br
          kaiju premium

      %p
        In melancholy moonless Acheron,
        Far from the goodly earth and joyous day,
        Where no spring ever buds, nor ripening sun
        Weighs down the apple trees, nor flowery May
        Chequers with chestnut blooms the grassy floor,
        Where thrushes never sing, and piping linnets mate no more,

      %p
        There by a dim and dark Lethaean well
        Young Charmides was lying, wearily
        He plucked the blossoms from the asphodel,
        And with its little rifled treasury
        Strewed the dull waters of the dusky stream,
        And watched the white stars founder, and the land was like a dream,

      %p
        When as he gazed into the watery glass
        And through his brown hair's curly tangles scanned
        His own wan face, a shadow seemed to pass
        Across the mirror, and a little hand
        Stole into his, and warm lips timidly
        Brushed his pale cheeks, and breathed their secret forth into a sigh.

      %p
        Then turned he round his weary eyes and saw,
        And ever nigher still their faces came,
        And nigher ever did their young mouths draw
        Until they seemed one perfect rose of flame,
        And longing arms around her neck he cast,
        And felt her throbbing bosom, and his breath came hot and fast,

      %p
        Then turned he round his weary eyes and saw,
        And ever nigher still their faces came,
        And nigher ever did their young mouths draw
        Until they seemed one perfect rose of flame,
        And longing arms around her neck he cast,
        And felt her throbbing bosom, and his breath came hot and fast,

      %p
        Then turned he round his weary eyes and saw,
        And ever nigher still their faces came,
        And nigher ever did their young mouths draw
        Until they seemed one perfect rose of flame,
        And longing arms around her neck he cast,
        And felt her throbbing bosom, and his breath came hot and fast,

      %p
        Then turned he round his weary eyes and saw,
        And ever nigher still their faces came,
        And nigher ever did their young mouths draw
        Until they seemed one perfect rose of flame,
        And longing arms around her neck he cast,
        And felt her throbbing bosom, and his breath came hot and fast,

      %p
        And all his hoarded sweets were hers to kiss,
        And all her maidenhood was his to slay,
        And limb to limb in long and rapturous bliss
        Their passion waxed and waned, -- O why essay
        To pipe again of love too venturous reed!
        Enough, enough that Eros laughed upon that flowerless mead.

    .animated-col
      %img{src:"img/boot1.jpg"}
      %img{src:"img/boot2.jpg"}
      %img{src:"img/boot3.jpg"}
      %img{src:"img/boot4.jpg"}
      %img{src:"img/boot5.jpg"}
      %img{src:"img/boot6.jpg"}
      %img{src:"img/boot7.jpg"}
      %img{src:"img/boot8.jpg"}
      %img{src:"img/boot9.jpg"}
      .buy-now

  .widephotobg
    %img{src:"img/wide-photo-bg2.jpg"}




#overlay