---
layout: 'default'
title: 'Cover Trailer'
viewid: '3'
---
#navbarjpg

#three-cols-container

  #col2.col
    %img.headshot.focus{src:"img/hs1.jpeg"}
    %img.headshot{src:"img/hs2.jpeg"}
    %img.headshot{src:"img/hs3.jpeg"}
    %img.headshot{src:"img/hs4.jpeg"}
    %img.headshot.focus{src:"img/hs5.jpeg"}

  #col1.col
    %iframe.vid.focus{width: "745", height: "400", src: "http://www.youtube.com/embed/rblvpM63W9Q?rel=0", frameborder: "0", allowfullscreen: "true"}
    .vid-footer.clearfix
      %h2
        Crash reel  07.01.13
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
      .btn-share
        SHARE
    %iframe.vid{width: "745", height: "400", src: "http://www.youtube.com/embed/THaRYKk5rrk?rel=0", frameborder: "0", allowfullscreen: "true"}
    .vid-footer.clearfix
      %h2
        Action reel  22.03.13
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
      .btn-share
        SHARE
    %iframe.vid{width: "745", height: "400", src: "http://www.youtube.com/embed/Af8Xrwf0ZEw?rel=0", frameborder: "0", allowfullscreen: "true"}
    .vid-footer.clearfix
      %h2
        Demo reel  12.05.13
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
      .btn-share
        SHARE
    %iframe.vid{width: "745", height: "400", src: "http://www.youtube.com/embed/MhW4Hq2JvEQ?rel=0", frameborder: "0", allowfullscreen: "true"}
    .vid-footer.clearfix
      %h2
        Bloopers reel  07.07.13
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
      .btn-share
        SHARE
    %iframe.vid{width: "745", height: "400", src: "http://www.youtube.com/embed/rblvpM63W9Q?rel=0", frameborder: "0", allowfullscreen: "true"}
    .vid-footer.clearfix
      %h2
        Jump reel  07.11.13
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
      .btn-share
        SHARE
    %iframe.vid{width: "745", height: "400", src: "http://www.youtube.com/embed/THaRYKk5rrk?rel=0", frameborder: "0", allowfullscreen: "true"}
    .vid-footer.clearfix
      %h2
        Crash reel  07.01.13
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
      .btn-share
        SHARE
    %iframe.vid{width: "745", height: "400", src: "http://www.youtube.com/embed/Af8Xrwf0ZEw?rel=0", frameborder: "0", allowfullscreen: "true"}
    .vid-footer.clearfix
      %h2
        Crash reel  07.01.13
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
      .btn-share
        SHARE
    %iframe.vid{width: "745", height: "400", src: "http://www.youtube.com/embed/MhW4Hq2JvEQ?rel=0", frameborder: "0", allowfullscreen: "true"}
    .vid-footer.clearfix
      %h2
        Crash reel  07.01.13
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
      .btn-share
        SHARE

  #col3.col
    %img.product.focus{src:"img/p2.jpeg"}
    %img.product{src:"img/p3.jpeg"}
    %img.product.focus{src:"img/p4.jpeg"}
    %img.product{src:"img/p5.jpeg"}
    %img.product{src:"img/p6.jpeg"}
    %img.product{src:"img/p7.jpeg"}
    %img.product{src:"img/p8.jpeg"}
    %img.product{src:"img/p9.jpeg"}
