---
layout: 'default'
title: 'Cover Trailer'
viewid: '4'
---
#navbarjpg

#content

  #topvids
    #vids
      %img{src:"img/vid1.jpg"}
      %img{src:"img/vid2.jpg"}
    %a.vid-arrow.left{href:"#"}
      <
    %a.vid-arrow.right{href:"#"}
      >

  #bottom_content
    %ul#toggle
      %li.selected
        %a{href:"#", data-target:"videos"}
          Videos
          .green-arrow
      %li
        %a{href:"#", data-target:"team"}
          Team
          .green-arrow
      %li
        %a{href:"#", data-target:"products"}
          Products
          .green-arrow

    #sections-wrapper
      .section.videos.animate-in
        %a
          %img{src:"img/vidthmb1.jpg"}
          .hover
            RUSSIA EDIT
            %br
            7.29
        %a
          %img{src:"img/vidthmb2.jpg"}
          .hover
            RUSSIA EDIT
            %br
            7.29
        %a
          %img{src:"img/vidthmb3.jpg"}
          .hover
            RUSSIA EDIT
            %br
            7.29
        %a
          %img{src:"img/vidthmb4.jpg"}
          .hover
            RUSSIA EDIT
            %br
            7.29
        %a
          %img{src:"img/vidthmb5.jpg"}
        %a
          %img{src:"img/vidthmb6.jpg"}
        %a
          %img{src:"img/vidthmb7.jpg"}
        %a
          %img{src:"img/vidthmb1.jpg"}
          .hover
            RUSSIA EDIT
            %br
            7.29
        %a
          %img{src:"img/vidthmb2.jpg"}
          .hover
            RUSSIA EDIT
            %br
            7.29
        %a
          %img{src:"img/vidthmb4.jpg"}
          .hover
            RUSSIA EDIT
            %br
            7.29
        %a
          %img{src:"img/vidthmb3.jpg"}
          .hover
            RUSSIA EDIT
            %br
            7.29
        %a
          %img{src:"img/vidthmb4.jpg"}
          .hover
            RUSSIA EDIT
            %br
            7.29
        %a
          %img{src:"img/vidthmb7.jpg"}
        %a
          %img{src:"img/vidthmb1.jpg"}
          .hover
            RUSSIA EDIT
            %br
            7.29
        %a
          %img{src:"img/vidthmb2.jpg"}
          .hover
            RUSSIA EDIT
            %br
            7.29


      .section.products
        %a{href:"#"}
          %img.product{src:"img/p2.jpeg"}
        %a{href:"#"}
          %img.product{src:"img/p3.jpeg"}
        %a{href:"#"}
          %img.product{src:"img/p4.jpeg"}
        %a{href:"#"}
          %img.product{src:"img/p5.jpeg"}
        %a{href:"#"}
          %img.product{src:"img/p6.jpeg"}
        %a{href:"#"}
          %img.product{src:"img/p7.jpeg"}
        %a{href:"#"}
          %img.product{src:"img/p8.jpeg"}
        %a{href:"#"}
          %img.product{src:"img/p9.jpeg"}
        %a{href:"#"}
          %img.product{src:"img/p2.jpeg"}
        %a{href:"#"}
          %img.product{src:"img/p3.jpeg"}
        %a{href:"#"}
          %img.product{src:"img/p4.jpeg"}
        %a{href:"#"}
          %img.product{src:"img/p5.jpeg"}

      .section.team
        %a{href:"#"}
          %img.product{src:"img/hs1.jpeg"}
        %a{href:"#"}
          %img.product{src:"img/hs2.jpeg"}
        %a{href:"#"}
          %img.product{src:"img/hs3.jpeg"}
        %a{href:"#"}
          %img.product{src:"img/hs4.jpeg"}
        %a{href:"#"}
          %img.product{src:"img/hs5.jpeg"}
        %a{href:"#"}
          %img.product{src:"img/hs1.jpeg"}
        %a{href:"#"}
          %img.product{src:"img/hs2.jpeg"}
        %a{href:"#"}
          %img.product{src:"img/hs3.jpeg"}
        %a{href:"#"}
          %img.product{src:"img/hs4.jpeg"}
        %a{href:"#"}
          %img.product{src:"img/hs5.jpeg"}
        %a{href:"#"}
          %img.product{src:"img/hs1.jpeg"}
        %a{href:"#"}
          %img.product{src:"img/hs2.jpeg"}